body {
    background: linear-gradient(#101936, 40%, #6c71ff );
    font-family: 'Bricolage Grotesque', sans-serif;
}

#bigContainer {
    display: flex;
    height: 1000px;
    justify-content: center;
}

#left {
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: center;
    align-items: center;
    color: #c0c5da;
}

#newGame, #resetHistory {
    background-color: #6d71fb;
    color: #c0c5da;
    font-size: 18px;
    margin: 15px 0px 15px 15px;
    border-radius: 10px;
    width: 50%;
}

#gameHistory {
    font-size: 22px;
    padding-top: 15px;
    width: 80%;
    height: 50%;
    background: #5fbef8;
    align-items: center;
    border-radius: 10px;
    color: grey;
}

.historyItem {
    font-size: 17px;
    margin-top: 10px;
    
} 

#center {
    width: 50%;
    align-items: center;
}

#boardContainer {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    align-items: center;
    justify-content: center;
    padding-top: 25%;
}

.square {
    height: 100px;
    width: 100px;
    background-color: white;
    border: 1px red solid;
    color: coral;
    text-align: center;
    font-size: 40px;
}

#right {
    width: 25%;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #c0c5da;
    margin-right: 15px;
}

#winContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    
}

#xWins, #oWins, #ties {
    padding: 15px;
    border-radius: 10px;
}

#xWins {
    background: #5fbef8;
    color: grey;
}

#oWins {
    background: #6d71fb;
    color: black;
}

#ties{
    background:#248067;
}

#turnDisplay {
    align-items: center;
    font-size: 22px;
    margin-top: 50%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #5fbef8;
    color: grey;
    border-radius: 10px;
}

.clickable {
    background-color: black;
}
