body {
    background-color: aqua;
}

#bigContainer {
    display: flex;
    height: 1000px;
    justify-content: center;
}

#left {
    width: 20%;
    text-align: center;
}

#center {
    width: 60%;
    align-items: center;
}

#boardContainer {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    align-items: center;
    justify-content: center;
    padding-top: 25%;
}

.square {
    height: 100px;
    width: 100px;
    background-color: white;
    border: 1px red solid;
    color: coral;
    text-align: center;
    font-size: 40px;
}

#right {
    width: 20%;
    text-align: center;
}

#winContainer {
    display: flex;
    justify-content: space-between;
}

.clickable {
    background-color: black;
}